<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test">
    <classes>
      <class name="TestNg.Class1Test"/>
      <class name="TestNg.Class2"/>
      <class name="Locators.TypesOfLocators"/>
      <class name="Locators.Locators"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
